/* For better dark style support */
@define-color BG_COLOR_ALPHA alpha(@BG_COLOR, 0.75);

display-widget {
    background-color: @BG_COLOR_ALPHA;
    border: 1px solid mix(@BG_COLOR_ALPHA, @TEXT_COLOR, 0.3);
    color: @TEXT_COLOR;
    text-shadow: 0 1px 1px alpha(white, 0.1);
    -gtk-icon-shadow: 0 1px 1px alpha(white, 0.1);
    -gtk-icon-palette: warning white;
}

display-widget button {
    background: transparent; /* Fix stacking alpha on top of each other */
    border-radius: 50%;
    padding: 6px;
}

display-widget button:focus {
    background: alpha(@TEXT_COLOR, 0.25);
}

display-widget button:checked {
    background: alpha(@TEXT_COLOR, 0.5);
    border-color: transparent;
}

display-widget.disabled {
    background-color: @SLATE_100;
    color: @SLATE_700;
}

display-widget.disabled button:focus {
    background: alpha(@SLATE_700, 0.25);
}

display-widget.disabled button:checked {
    background: alpha(@SLATE_700, 0.5);
}

label.rotate-90 {
    transform: rotate(90deg);
}

label.rotate-180 {
    transform: rotate(180deg);
}

label.rotate-270 {
    transform: rotate(270deg);
}
