display-widget {
    border-radius: 3px;
    padding: 6px;
    text-shadow: 0 1px 1px alpha(white, 0.1);
    -gtk-icon-shadow: 0 1px 1px alpha(white, 0.1);
}

display-widget > grid > label {
    font-weight: 600;
}

display-widget button.flat.image-button {
    border-radius: 50%;
    color: inherit;
    padding: 6px;
}

/*Clear icon palette*/
display-widget image {
    -gtk-icon-palette: success @text_color;
}

display-widget label.rotate-90 {
    transform: rotate(90deg);
}

display-widget label.rotate-180 {
    transform: rotate(180deg);
}

display-widget label.rotate-270 {
    transform: rotate(270deg);
}

display-widget.color-0 {
    background-color: alpha(@BLUEBERRY_100, 0.75);
    border: 1px solid alpha(@BLUEBERRY_500, 0.75);
    color: @BLUEBERRY_900;
}

display-widget.color-0 button.flat.image-button:focus {
    background: @BLUEBERRY_300;
}

display-widget.color-0 button.flat.image-button:checked {
    background: alpha(@BLUEBERRY_500, 0.75);
}

display-widget.color-1 {
    background-color: alpha(@STRAWBERRY_100, 0.75);
    border: 1px solid alpha(@STRAWBERRY_500, 0.75);
    color: @STRAWBERRY_900;
}

display-widget.color-1 button.flat.image-button:focus {
    background: @STRAWBERRY_300;
}

display-widget.color-1 button.flat.image-button:checked {
    background: alpha(@STRAWBERRY_500, 0.75);
}

display-widget.color-2 {
    background-color: alpha(@ORANGE_100, 0.75);
    border: 1px solid alpha(@ORANGE_500, 0.75);
    color: @ORANGE_900;
}

display-widget.color-2 button.flat.image-button:focus {
    background: @ORANGE_300;
}

display-widget.color-2 button.flat.image-button:checked {
    background: alpha(@ORANGE_500, 0.75);
}

display-widget.color-3 {
    background-color: alpha(@BANANA_100, 0.75);
    border: 1px solid alpha(@BANANA_500, 0.75);
    color: @BANANA_900;
}

display-widget.color-3 button.flat.image-button:focus {
    background: @BANANA_300;
}

display-widget.color-3 button.flat.image-button:checked {
    background: alpha(@BANANA_500, 0.75);
}

display-widget.color-4 {
    background-color: alpha(@LIME_100, 0.75);
    border: 1px solid alpha(@LIME_500, 0.75);
    color: @LIME_900;
}

display-widget.color-4 button.flat.image-button:focus {
    background: @LIME_300;
}

display-widget.color-4 button.flat.image-button:checked {
    background: alpha(@LIME_500, 0.75);
}

display-widget.color-5 {
    background-color: alpha(@GRAPE_100, 0.75);
    border: 1px solid alpha(@GRAPE_500, 0.75);
    color: @GRAPE_900;
}

display-widget.color-5 button.flat.image-button:focus {
    background: @GRAPE_300;
}

display-widget.color-5 button.flat.image-button:checked {
    background: alpha(@GRAPE_500, 0.75);
}

display-widget.color-6 {
    background-color: alpha(@COCOA_100, 0.75);
    border: 1px solid alpha(@COCOA_500, 0.75);
    color: @COCOA_900;
}

display-widget.color-6 button.flat.image-button:focus {
    background: @COCOA_300;
}

display-widget.color-6 button.flat.image-button:checked {
    background: alpha(@COCOA_500, 0.75);
}

display-widget.disabled {
    background-color: alpha(@SLATE_100, 0.75);
    border: 1px solid alpha(@SLATE_500, 0.75);
    color: @SLATE_700;
}

display-widget.disabled button.flat.image-button:focus {
    background: alpha(@SLATE_700, 0.25);
}

display-widget.disabled button.flat.image-button:checked {
    background: alpha(@SLATE_700, 0.5);
}

.monitor-label {
    border-radius: 9px;
    font-weight: 600;
}

.monitor-label label {
    margin: 1em;
    text-shadow: 0 1px 1px alpha(white, 0.1);
}
